In [1]:
import numpy as np
import pandas as pd

import bootcamp_utils

# Plotting modules and settings.
import matplotlib.pyplot as plt
import seaborn as sns
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728',
          '#9467bd', '#8c564b', '#e377c2', '#7f7f7f',
          '#bcbd22', '#17becf']
sns.set(style='whitegrid', palette=colors, rc={'axes.labelsize': 16})

import bokeh

# The following is specific Jupyter notebooks
%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

In [2]:
# Load in the headers
with open('2017_0602_0626_qxn.csv') as fhandle:
    line_1 = fhandle.readline().rstrip()
    mouse_id = line_1.split(',')[1:len(line_1)]
    line_2 = fhandle.readline().rstrip()
    group = line_2.split(',')[1:len(line_2)]
    line_3 = fhandle.readline().rstrip()
    sensor_type = line_3.split(',')[1:len(line_3)]

In [3]:
# Load in the data to values_df
col_names= ['time'] + mouse_id
values_df = pd.read_csv('2017_0602_0626_qxn.csv', skiprows=3, header=None, names=col_names)

In [4]:
values_df

,time,623,625,627,630,631,637,626,628,632,633,635,641
0,6/2/2017 11:36:00 AM,1,0,0,13,64,10,0,0,0,2,62,42
1,6/2/2017 11:37:00 AM,0,0,0,31,54,0,5,19,0,0,5,14
2,6/2/2017 11:38:00 AM,25,3,0,53,34,0,31,58,0,0,1,23
3,6/2/2017 11:39:00 AM,5,9,11,0,0,0,53,64,7,4,26,0
4,6/2/2017 11:40:00 AM,12,18,3,0,37,0,43,0,10,4,0,8
5,6/2/2017 11:41:00 AM,24,48,0,6,0,11,45,9,0,0,24,0
6,6/2/2017 11:42:00 AM,46,0,0,35,14,0,46,0,23,1,16,0
7,6/2/2017 11:43:00 AM,35,11,0,42,48,0,58,21,2,8,44,2
8,6/2/2017 11:44:00 AM,51,25,0,64,57,0,46,49,5,11,53,16
9,6/2/2017 11:45:00 AM,3,9,0,0,48,0,18,59,24,16,60,47
10,6/2/2017 11:46:00 AM,8,2,0,10,45,0,0,55,16,0,46,44
11,6/2/2017 11:47:00 AM,40,49,0,55,65,0,1,51,29,0,20,15
12,6/2/2017 11:48:00 AM,0,12,0,49,52,0,0,7,26,0,4,35
13,6/2/2017 11:49:00 AM,0,6,3,49,25,0,0,37,23,0,61,42
14,6/2/2017 11:50:00 AM,0,0,9,59,7,13,32,52,7,8,60,0
15,6/2/2017 11:51:00 AM,0,3,0,47,51,0,16,38,44,15,56,38
16,6/2/2017 11:52:00 AM,33,40,0,62,53,27,0,55,16,21,0,46
17,6/2/2017 11:53:00 AM,49,49,0,57,34,10,0,57,20,10,0,50
18,6/2/2017 11:54:00 AM,8,32,0,53,0,12,0,55,4,14,22,2
19,6/2/2017 11:55:00 AM,4,41,0,46,0,28,0,16,11,4,31,20
20,6/2/2017 11:55:59 AM,18,44,0,62,0,24,10,0,15,0,0,52
21,6/2/2017 11:56:59 AM,22,30,3,4,0,42,18,0,0,2,50,54
22,6/2/2017 11:57:59 AM,0,0,12,30,0,21,0,29,11,5,41,48
23,6/2/2017 11:58:59 AM,0,0,41,42,0,27,15,30,19,1,40,50
24,6/2/2017 11:59:59 AM,22,30,20,50,0,55,42,48,11,12,48,50
25,6/2/2017 12:00:59 PM,10,5,0,19,0,1,19,44,16,9,23,9
26,6/2/2017 12:01:59 PM,38,0,7,71,0,0,15,59,42,15,75,52
27,6/2/2017 12:02:59 PM,0,0,49,4,0,0,24,65,6,1,10,31
28,6/2/2017 12:03:59 PM,26,0,56,33,0,0,40,51,0,4,1,22
29,6/2/2017 12:04:59 PM,54,0,52,48,0,47,39,24,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34451,6/26/2017 9:46:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34452,6/26/2017 9:47:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34453,6/26/2017 9:48:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34454,6/26/2017 9:49:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34455,6/26/2017 9:50:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34456,6/26/2017 9:51:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34457,6/26/2017 9:52:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34458,6/26/2017 9:53:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34459,6/26/2017 9:54:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34460,6/26/2017 9:55:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34461,6/26/2017 9:56:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34462,6/26/2017 9:57:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34463,6/26/2017 9:58:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34464,6/26/2017 9:59:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34465,6/26/2017 10:00:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34466,6/26/2017 10:01:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34467,6/26/2017 10:02:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34468,6/26/2017 10:03:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34469,6/26/2017 10:04:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34470,6/26/2017 10:05:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34471,6/26/2017 10:06:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34472,6/26/2017 10:07:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34473,6/26/2017 10:08:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34474,6/26/2017 10:09:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34475,6/26/2017 10:10:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34476,6/26/2017 10:11:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34477,6/26/2017 10:12:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34478,6/26/2017 10:13:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34479,6/26/2017 10:14:25 AM,0,0,0,0,0,0,0,0,0,0,0,0
34480,6/26/2017 10:15:25 AM,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
# convert time to pd.datetime objects
time_parsed = pd.to_datetime(values_df['time'], format='%m/%d/%Y %I:%M:%S %p', infer_datetime_format=True)
values_df['time'] = time_parsed

In [6]:
values_df

,time,623,625,627,630,631,637,626,628,632,633,635,641
0,2017-06-02 11:36:00,1,0,0,13,64,10,0,0,0,2,62,42
1,2017-06-02 11:37:00,0,0,0,31,54,0,5,19,0,0,5,14
2,2017-06-02 11:38:00,25,3,0,53,34,0,31,58,0,0,1,23
3,2017-06-02 11:39:00,5,9,11,0,0,0,53,64,7,4,26,0
4,2017-06-02 11:40:00,12,18,3,0,37,0,43,0,10,4,0,8
5,2017-06-02 11:41:00,24,48,0,6,0,11,45,9,0,0,24,0
6,2017-06-02 11:42:00,46,0,0,35,14,0,46,0,23,1,16,0
7,2017-06-02 11:43:00,35,11,0,42,48,0,58,21,2,8,44,2
8,2017-06-02 11:44:00,51,25,0,64,57,0,46,49,5,11,53,16
9,2017-06-02 11:45:00,3,9,0,0,48,0,18,59,24,16,60,47
10,2017-06-02 11:46:00,8,2,0,10,45,0,0,55,16,0,46,44
11,2017-06-02 11:47:00,40,49,0,55,65,0,1,51,29,0,20,15
12,2017-06-02 11:48:00,0,12,0,49,52,0,0,7,26,0,4,35
13,2017-06-02 11:49:00,0,6,3,49,25,0,0,37,23,0,61,42
14,2017-06-02 11:50:00,0,0,9,59,7,13,32,52,7,8,60,0
15,2017-06-02 11:51:00,0,3,0,47,51,0,16,38,44,15,56,38
16,2017-06-02 11:52:00,33,40,0,62,53,27,0,55,16,21,0,46
17,2017-06-02 11:53:00,49,49,0,57,34,10,0,57,20,10,0,50
18,2017-06-02 11:54:00,8,32,0,53,0,12,0,55,4,14,22,2
19,2017-06-02 11:55:00,4,41,0,46,0,28,0,16,11,4,31,20
20,2017-06-02 11:55:59,18,44,0,62,0,24,10,0,15,0,0,52
21,2017-06-02 11:56:59,22,30,3,4,0,42,18,0,0,2,50,54
22,2017-06-02 11:57:59,0,0,12,30,0,21,0,29,11,5,41,48
23,2017-06-02 11:58:59,0,0,41,42,0,27,15,30,19,1,40,50
24,2017-06-02 11:59:59,22,30,20,50,0,55,42,48,11,12,48,50
25,2017-06-02 12:00:59,10,5,0,19,0,1,19,44,16,9,23,9
26,2017-06-02 12:01:59,38,0,7,71,0,0,15,59,42,15,75,52
27,2017-06-02 12:02:59,0,0,49,4,0,0,24,65,6,1,10,31
28,2017-06-02 12:03:59,26,0,56,33,0,0,40,51,0,4,1,22
29,2017-06-02 12:04:59,54,0,52,48,0,47,39,24,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34451,2017-06-26 09:46:25,0,0,0,0,0,0,0,0,0,0,0,0
34452,2017-06-26 09:47:25,0,0,0,0,0,0,0,0,0,0,0,0
34453,2017-06-26 09:48:25,0,0,0,0,0,0,0,0,0,0,0,0
34454,2017-06-26 09:49:25,0,0,0,0,0,0,0,0,0,0,0,0
34455,2017-06-26 09:50:25,0,0,0,0,0,0,0,0,0,0,0,0
34456,2017-06-26 09:51:25,0,0,0,0,0,0,0,0,0,0,0,0
34457,2017-06-26 09:52:25,0,0,0,0,0,0,0,0,0,0,0,0
34458,2017-06-26 09:53:25,0,0,0,0,0,0,0,0,0,0,0,0
34459,2017-06-26 09:54:25,0,0,0,0,0,0,0,0,0,0,0,0
34460,2017-06-26 09:55:25,0,0,0,0,0,0,0,0,0,0,0,0
34461,2017-06-26 09:56:25,0,0,0,0,0,0,0,0,0,0,0,0
34462,2017-06-26 09:57:25,0,0,0,0,0,0,0,0,0,0,0,0
34463,2017-06-26 09:58:25,0,0,0,0,0,0,0,0,0,0,0,0
34464,2017-06-26 09:59:25,0,0,0,0,0,0,0,0,0,0,0,0
34465,2017-06-26 10:00:25,0,0,0,0,0,0,0,0,0,0,0,0
34466,2017-06-26 10:01:25,0,0,0,0,0,0,0,0,0,0,0,0
34467,2017-06-26 10:02:25,0,0,0,0,0,0,0,0,0,0,0,0
34468,2017-06-26 10:03:25,0,0,0,0,0,0,0,0,0,0,0,0
34469,2017-06-26 10:04:25,0,0,0,0,0,0,0,0,0,0,0,0
34470,2017-06-26 10:05:25,0,0,0,0,0,0,0,0,0,0,0,0
34471,2017-06-26 10:06:25,0,0,0,0,0,0,0,0,0,0,0,0
34472,2017-06-26 10:07:25,0,0,0,0,0,0,0,0,0,0,0,0
34473,2017-06-26 10:08:25,0,0,0,0,0,0,0,0,0,0,0,0
34474,2017-06-26 10:09:25,0,0,0,0,0,0,0,0,0,0,0,0
34475,2017-06-26 10:10:25,0,0,0,0,0,0,0,0,0,0,0,0
34476,2017-06-26 10:11:25,0,0,0,0,0,0,0,0,0,0,0,0
34477,2017-06-26 10:12:25,0,0,0,0,0,0,0,0,0,0,0,0
34478,2017-06-26 10:13:25,0,0,0,0,0,0,0,0,0,0,0,0
34479,2017-06-26 10:14:25,0,0,0,0,0,0,0,0,0,0,0,0
34480,2017-06-26 10:15:25,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
# DataFrame mouse_df to store mouse info
mouse_id = pd.Series(mouse_id)
group = pd.Series(group)
sensor_type = pd.Series(sensor_type)
mouse_df = pd.DataFrame({'mouse_id': mouse_id, 'group': group, 'sensor_type': sensor_type})

In [8]:
mouse_df

        group mouse_id sensor_type
0         DKO      623           0
1         DKO      625           0
2         DKO      627           0
3         DKO      630           0
4         DKO      631           0
5         DKO      637           0
6   DoubleHet      626           0
7   DoubleHet      628           0
8   DoubleHet      632           0
9   DoubleHet      633           0
10  DoubleHet      635           0
11  DoubleHet      641           0

In [9]:
# Melt dataframe 
values_df = pd.melt(values_df, id_vars='time', var_name='mouse_id', value_name='activity(rev)')

# Merge with mouse_df
tidy_df = pd.merge(mouse_df, values_df)

In [13]:
tidy_df.tail(20)

            group mouse_id sensor_type                time  activity(rev)
413752  DoubleHet      641           0 2017-06-26 09:56:25              0
413753  DoubleHet      641           0 2017-06-26 09:57:25              0
413754  DoubleHet      641           0 2017-06-26 09:58:25              0
413755  DoubleHet      641           0 2017-06-26 09:59:25              0
413756  DoubleHet      641           0 2017-06-26 10:00:25              0
413757  DoubleHet      641           0 2017-06-26 10:01:25              0
413758  DoubleHet      641           0 2017-06-26 10:02:25              0
413759  DoubleHet      641           0 2017-06-26 10:03:25              0
413760  DoubleHet      641           0 2017-06-26 10:04:25              0
413761  DoubleHet      641           0 2017-06-26 10:05:25              0
413762  DoubleHet      641           0 2017-06-26 10:06:25              0
413763  DoubleHet      641           0 2017-06-26 10:07:25              0
413764  DoubleHet      641           0 2017-06-26 10:08:25              0
413765  DoubleHet      641           0 2017-06-26 10:09:25              0
413766  DoubleHet      641           0 2017-06-26 10:10:25              0
413767  DoubleHet      641           0 2017-06-26 10:11:25              0
413768  DoubleHet      641           0 2017-06-26 10:12:25              0
413769  DoubleHet      641           0 2017-06-26 10:13:25              0
413770  DoubleHet      641           0 2017-06-26 10:14:25              0
413771  DoubleHet      641           0 2017-06-26 10:15:25              0

In [11]:
# Write out DataFrame
tidy_df.to_csv('2017_0602_0626_qxn_tidy.csv', index=False)